.checkbox-success {
  .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: green;
    background-color: rgba($success , 0.2);
    border-color: $success;
  }

  .custom-control-input:checked~.custom-control-label::after {
    color: #fff;
    border-color: green;
    background-color: rgba($success , 1);
    border: 0;
  }
}
.fk-custom-switch-danger {
  .custom-control-input:checked~.custom-control-label::before {
    border-color: $danger;
    background-color: $danger;
  }
}