.fk-content-wraper {
  padding: 0px 54px 0;
  height: 100% !important;

  @include media-breakpoint-down(lg) {
    padding: 38px 20px 0;
  }


  @include media-breakpoint-down(md) {
    padding: 0 25px 0;
  }
}

.content-admin {
  padding-top: 20px;

  @include media-breakpoint-down(lg) {
    padding-top: 20px;
  }
}
