.fk-user-header {
   border-bottom: 1px solid $gray-300;
   background-color: #F5F3EF;

   .header-menu {
      .menu-nav {
         padding-left: 171px;
         padding-top: 5px;
         @include media-breakpoint-down(lg) {
            padding-left: 10px;
            padding-top: 9px;
         }
         .menu-item {
            position: relative;

            .menu-link {
               position: relative;
               @include media-breakpoint-down(lg) {
                  padding: 0.65rem 0.8rem;
               }
               .menu-text {
                  color: rgba($gray-600, $alpha: 0.6);
                  font-size: 16px;
                  font-weight: 500;
                  @include media-breakpoint-down(lg) {
                     font-size: 13px;
                  }
               }

               &::after {
                  position: absolute;
                  left: 15px;
                  right: 15px;
                  bottom: -9px;
                  height: 1px;
                  background-color: transparent;
                  display: block;
                  content: "";
               }
               
            }
            &.menu-item-hover{
               .menu-link {
                  .menu-text {
                     color: rgba($warning, $alpha: 1)!important;
                  }
               }
            }
            &.menu-item-active {
               .menu-link {
                  .menu-text {
                     color: rgba($warning, $alpha: 1);
                  }

                  &::after {
                     background-color: $warning;
                  }
               }
            }
         }
      }
   }
   .fk-search{
      border: 1px solid $gray-500;
   }
   @include media-breakpoint-down(lg) {
      padding: inherit;
   }

}

// $warning